/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.header {
    background-color: #000;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    color: #fff;
    padding: 0 20px;
}

.links {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 50px;
    width: 100%;

}

.links a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: ease 0.2s;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    /* background-color: red; */
    height: 100%;
    width: 100%;
}

.links a:hover{
    font-size: 20px;
}